<view title="'Auto Details'" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
  <content has-header="true" has-tabs="true" padding="true">
    <h2>{{ auto.year }} {{ auto.make }} {{ auto.model }}</h2>

    <p ng-bind="auto.desc"></p>

    <p><a class="button icon-right" target="_blank" ng-href="{{ auto.url }}">
      Read More
      <i class="icon ion-ios7-redo"></i>
    </a></p>

    <list>
      <item ng-repeat="other in autos" ui-sref="tabs.autodetail({id: $index })" ng-if="auto !== other">
        <div>
        {{ other.year }} {{ other.make }} {{ other.model }}
        </div>
      </item>
    </list>
  </content>
</view>
