// variables
$base-background-color:          #868586;


.content {
  background-color: $base-background-color;
}

.action-sheet-title {
  font-size: 24px;
}
a[ng-click], a[ng-href] {
  cursor:hand;
}